@charset "UTF-8";
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f8ff; /* Light blue background */
  color: #333;
}

header {
  background-color: #A0B1E1; /* Custom blue header */
  color: white;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

nav {
  background-color: #4CAF50; 
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #f0f8ff; /* Lighter blue on hover */
}

footer {
  background-color: #A0B1E1; /* Same custom blue as header */
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

#slideoutPanel {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: white;
    transition: right 0.3s ease;
}

#slideoutPanel.open {
    right: 0;
    width:500px;
    background-color: #A0B1E1;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
}

button {
	cursor: pointer;
	padding: 5px;
	border: none;
	background: none;
	color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

iframe {
	border: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  nav ul li {
    display: block;
    margin: 10px 0;
  }

  header h1 {
    font-size: 2rem;
  }
}
