* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.home video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
    display: none;
    transition: opacity 1s ease-in-out;
}

.home video:first-child {
    display: block;
}

.content {
    position: absolute;
    top: 45%;
    left: 20%; 
    transform: translateY(-50%);
    color: white;
    text-align: left;
    font-size: 2em;
    z-index: 1;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.content h1 {
    margin: 0;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
}

.content span {
    font-weight: bold;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
}

.slider-nav {
    z-index: 1;
    position: absolute;  
    top:70%; 
    left: 50%;  
    transform: translateX(-50%); 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    transition: 0.3s ease;
}

.slider-nav .navbtn {
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
}

.slider-nav .navbtn:hover {
    box-shadow: 0 0 10px rgba(0, 150, 199, 0.9);
    border-color: #00B0FF;
}

.slider-nav .navbtn.active {
    background: #03045E;
}
